<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>aq</key>
		<string>感情充沛、富于表达力</string>
		<key>nrjs</key>
		<string>豪放率真的白羊座女生，富有强大的想象力，热情勇敢，女汉子味十足。勇往直前，是你们最大的特点。所以即便面对困难挫折，白羊女都敢于迎接挑战。可以说，这是个极具战斗精神的新时代女性。如此强悍个性的白羊女，在异性的眼中却永远都少了点女人味专属的温柔，往往都是称兄道弟的份。</string>
		<key>rd</key>
		<string>稚拙、刚愎自用</string>
		<key>td</key>
		<string>勇敢、火热、大方</string>
		<key>ys</key>
		<array>
			<string>0</string>
			<string>14</string>
			<string>62</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>沉默、安逸、踏实、耐性</string>
		<key>nrjs</key>
		<string>八面玲珑的金牛座女生，恰到好处的交际手腕总能赢得众人的好感。以金牛女勤俭节约的内敛个性，必然会是个模范的家庭主妇。只是深沉的事业野心，往往督促金牛成为精明能干的女强人。富有女性魅力的金牛女，兢兢业业的工作态度，虽然大器晚成，不过你们的坚韧会是成功中佼佼者。所以，金牛女大多都是晚婚者。</string>
		<key>rd</key>
		<string>偏见、依赖心</string>
		<key>td</key>
		<string>浪漫、决断能力、逻辑思考</string>
		<key>ys</key>
		<array>
			<string>193</string>
			<string>169</string>
			<string>144</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>认为爱情是最美好的东西</string>
		<key>nrjs</key>
		<string>聪明伶俐的双子座女生，爱耍小聪明之余还有点神经质。抱有积极向上生活态度的双子女，内心闪耀着众多美好的幻想，以及充满了对理想的憧憬。可以说，这是个具有异国风情的魅力女生。你们的适应能力非常顽强，所以总能在张弛有度的生活、工作和爱情中，享受着无忧无虑的曲调。</string>
		<key>rd</key>
		<string>狡猾、善变</string>
		<key>td</key>
		<string>多样性、思维敏捷</string>
		<key>ys</key>
		<array>
			<string>150</string>
			<string>200</string>
			<string>36</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>喜欢优越和成功的对象</string>
		<key>nrjs</key>
		<string>温顺随和的巨蟹座女生，充满着天真而感性的幻想。感情细腻的巨蟹女，注定是个多愁善感的悲情人。正因为敏感的神经线，才会日积月累了那么多忧怨不满的情绪。不过所幸的是巨蟹女思想单纯，心态永远都处于年轻的状态。只要别人的信任，就会散发出温情幽默的气息，简单而知足。</string>
		<key>rd</key>
		<string>贪吃、占有欲强</string>
		<key>td</key>
		<string>主观、温柔、反应佳</string>
		<key>ys</key>
		<array>
			<string>254</string>
			<string>172</string>
			<string>174</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>不太懂得疼爱对方</string>
		<key>nrjs</key>
		<string>光芒四射的狮子座女生，无论言行举止都流露着绚烂的戏剧性色彩。慷慨大方是狮子女的天性，你们就是喜欢追求生活中最顶尖的极品，唯有这种昂贵且高品位的东西才配得到“宠幸”。同样是事业型女强人的范，狮子女却是天生的领导者，拥有杰出的才能，以及做大事的度量。女生中绝无仅有的“王者”！</string>
		<key>rd</key>
		<string>喜欢引人注目</string>
		<key>td</key>
		<string>心地善良、爱心丰富</string>
		<key>ys</key>
		<array>
			<string>254</string>
			<string>196</string>
			<string>174</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>处女座细心追求完美</string>
		<key>nrjs</key>
		<string>表面看似波澜不惊的处女座女生，其实内里隐藏着一颗敏感而躁动的心。内敛而保守的个性，使得处女女总是一副腼腆害羞的邻家女生模样。沉着冷静是你们的处事态度，正因为细致的心才需要更多的安全感，所以往往都是有所保留。对于生活，处女女需要强而有力的掌控感！</string>
		<key>rd</key>
		<string>挑剔、媚于俗世</string>
		<key>td</key>
		<string>细心、温柔大方、开朗</string>
		<key>ys</key>
		<array>
			<string>188</string>
			<string>222</string>
			<string>117</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>天秤的爱情是博大的</string>
		<key>nrjs</key>
		<string>高贵优雅的天秤座女生，富有极强的创造力。天生追求“美感”的天秤女，本来就是美的化身，拥有着天使的面孔魔鬼的身材。你们就是典型的外貌协会会员，注重外表之余往往会弱化看人的能力。就算是生活中再平凡的小事，天秤女都能将其幻化得奇妙无穷！天秤女，就是这样美感特佳的魅力女性！</string>
		<key>rd</key>
		<string>自恋、爱美、敷衍</string>
		<key>td</key>
		<string>魅力、 艺术力强、美丽</string>
		<key>ys</key>
		<array>
			<string>181</string>
			<string>222</string>
			<string>247</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>在爱情中占主导地位</string>
		<key>nrjs</key>
		<string>谜样般的天蝎座女生，外表冷若冰霜，内在狂热不羁。让人捉摸不透的天蝎女，有着复杂而强烈的情绪。看似安静内敛的天蝎女，却具有狂野性感的挑逗力，对于男生来说那时无法抗拒的魅力。而且这是个敢爱敢恨的星座，你们更偏恋灵魂伴侣，一旦爱上就是“不成功便成仁”的壮烈追求。</string>
		<key>rd</key>
		<string>城府深、难深交</string>
		<key>td</key>
		<string>智慧、理智、领导能力</string>
		<key>ys</key>
		<array>
			<string>170</string>
			<string>205</string>
			<string>239</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>对爱情有理想化的倾向</string>
		<key>nrjs</key>
		<string>极具挑战欲望的射手座女生，认为生活就是一系列的探险，尤其偏爱新奇刺激的经验。热情奔放的射手女，热爱自由，并坚定的认为一切皆有可能。射手女渴望生活充满变化和刺激，特别喜欢跟各种各样的人相处。而且射手女这种放浪不羁的个性，反而激发更多异性的征服欲，所以身边不乏狂蜂浪蝶。</string>
		<key>rd</key>
		<string>丢三落四、草率</string>
		<key>td</key>
		<string>活泼、可爱、乐观</string>
		<key>ys</key>
		<array>
			<string>187</string>
			<string>238</string>
			<string>255</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>对自己和对方的要求很高</string>
		<key>nrjs</key>
		<string>保守固执的摩羯座女生，富有正义感，总是一副“路见不平拔刀相助”的侠义心肠。摩羯女不善言辞但贵在够真，所有的喜怒哀乐都写在脸上。个性略为强势，具有高度的责任感，摩羯女就是这样外柔内刚的人。不过缺少了点浪漫色彩，极端现实的你们，终身都在为着实现目标而努力，连做梦都与现实有关。</string>
		<key>rd</key>
		<string>顽固、自闭</string>
		<key>td</key>
		<string>优越、聪慧、实际</string>
		<key>ys</key>
		<array>
			<string>255</string>
			<string>194</string>
			<string>133</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>遇到爱情，不会把握</string>
		<key>nrjs</key>
		<string>好奇心异常旺盛的水瓶女，是个反对世俗且不随波逐流的个性女生。极具独立精神的你们，喜欢我行我素的自由，说着自己的话走着自己的路，任由他人怎么说。在女生中，水瓶属于另外的理性份子，所有的聪明才智都用于天马行空的想象力。极端，纯洁，以及理智，便是真实的水瓶女！</string>
		<key>rd</key>
		<string>突变、不服从</string>
		<key>td</key>
		<string>友爱、慈善、博爱</string>
		<key>ys</key>
		<array>
			<string>42</string>
			<string>19</string>
			<string>54</string>
		</array>
	</dict>
	<dict>
		<key>aq</key>
		<string>爱情生活充满神秘色彩</string>
		<key>nrjs</key>
		<string>柔情似水的双鱼座女生，天生浪漫且富有幻想，对众多男生来说有着一种特别的魅力。天真可爱，是大多数双鱼女的评价标签。或许正因为这样让人怜爱的个性，往往是异性朋友圈中的小公主。对生活，双鱼女充满着积极向上的热情，只是缺少了点应变能力，需要别人的保护，并习惯依赖他人。</string>
		<key>rd</key>
		<string>畏缩、逃避困难</string>
		<key>td</key>
		<string>自觉、唯美</string>
		<key>ys</key>
		<array>
			<string>25</string>
			<string>67</string>
			<string>90</string>
		</array>
	</dict>
</array>
</plist>
